.dash-alert-item {
  position: relative;
  display: inline-block;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.dash-alert-item.current {
  cursor: default;
  z-index: 11;
  background-color: rgba(40, 142, 223, 0.2);
}

.dash-alert-item.current .title,
.dash-alert-item.current .value {
  opacity: 0.75;
}

.dash-alert-item.current .title:after,
.dash-alert-item.current .title:before,
.dash-alert-item.current .value:after,
.dash-alert-item.current .value:before {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #76b7eb;
  content: "";
}

.dash-alert-item.current .title:before { top: -3px; left: -3px; border-width: 1px 0 0 1px; }
.dash-alert-item.current .title:after { top: -3px; right: -3px; border-width: 1px 1px 0 0; }
.dash-alert-item.current .value:before { bottom: -3px; left: -3px; border-width: 0 0 1px 1px; }
.dash-alert-item.current .value:after { bottom: -3px; right: -3px; border-width: 0 1px 1px 0; }

.dash-alert-item .title {
  display: inline-block;
  color: white;
}

.dash-alert-item .value {
  display: inline-block;
  background-color: black;
}

.dash-alert-item.critical .title {
  background-color: #d70c0c;
  font-size: 2.7rem;
  line-height: 2.7rem;
  letter-spacing: -0.2rem;
  padding: 6px 14px 4px 8px;
}

.dash-alert-item.critical .value {
  font-size: 5rem;
  color: #d70c0c;
  line-height: 4rem;
  letter-spacing: -0.35rem;
  padding: 16px 14px 7px 7px;
}

.dash-alert-item.warning .title {
  background-color: #d19a14;
  font-size: 2rem;
  padding: 0.4rem;
  line-height: 1.7rem;
}

.dash-alert-item.warning .value {
  font-size: 3.5rem;
  color: #d19a14;
  line-height: 3rem;
  letter-spacing: -0.1rem;
  padding: 0.5rem 0.4rem 0.5rem 0.3rem;
}

.dash-alert-item.ok .title {
  background-color: #438c07;
  font-size: 1rem;
  padding: 0.2rem;
  line-height: 1rem;
}

.dash-alert-item.ok .value {
  font-size: 2rem;
  color: #438c07;
  line-height: 1.7rem;
  letter-spacing: -0.1rem;
  padding: 0.5rem 0.4rem 0.3rem 0.3rem;
}
