.dash-sidebar {
  display: show;
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  background-color: #484b4c;
}

.dash-sidebar .title {
  font-size: 26px;
  color: white;
}
