.dash-sidebar {
  display: show;
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  background-color: #484b4c;
  color: white;
  z-index: 9;
}

.dash-sidebar.open {
  display: block;
}

.dash-sidebar .title {
  font-size: 26px;
  font-weight: normal;
  color: white;
}

