.dash-alert-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  min-height: 50%;
  max-height: 85%;
  flex-grow: 1;
  margin: 10px;

  z-index: 5;
}

.dash-alert-group.critical {
  align-self: flex-start;
  z-index: 6;
}

.dash-alert-group.ok {
  align-self: flex-end;
  z-index: 4;
}
