@media (max-width: 640px) {
  .dash-list {
    width: auto;
    left: 0;
  }
}

@media (min-width: 641px) {
  .dash-list {
    width: 30%;
  }
}

.dash-list {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #484b4c;
  color: white;
  z-index: 9;
  overflow-y: auto;
}

.dash-list .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  border: 0;
  color: white;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.dash-list .close-btn:hover {
  color: #76b7eb;
}

.dash-list .title {
  font-size: 26px;
  font-weight: normal;
  color: white;
  margin: 0 0 15px;
}

.dash-list .list-container {
  margin: 30px 0 0;
  padding: 0;
  list-style: none;
}

.dash-list .list-container li {
  margin: 0;
  border-top: 1px dotted #777;
  border-bottom: 1px dotted #222;
}

.dash-list .list-container li:first-child { border-top: 0;}
.dash-list .list-container li:last-child { border-bottom: 0;}

.dash-list .list-container a {
  display: block;
  padding: 8px;
  color: #76b7eb;
  font-size: 1.3rem;
  text-decoration: none;
}

.dash-list .list-container a:hover {
  background-color: #4e5152;
}

.dash-list .list-container .dash-items-count,
.dash-list .list-container .dash-created-at {
  font-size: 0.9rem;
  color: #999;
  margin-right: 10px;
}

.dash-list .list-container a:hover .dash-items-count,
.dash-list .list-container a:hover .dash-created-at {
  color: #ccc;
  text-decoration: none;
}
