@media (max-width: 640px) {
  .dash-sidebar {
    width: auto;
    left: 0;
  }
}

@media (min-width: 641px) {
  .dash-sidebar {
    width: 30%;
  }
}

.dash-sidebar {
  position: absolute;
  padding: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #484b4c;
  color: white;
  z-index: 9;
  overflow-y: auto;
}

.dash-sidebar .close-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  border: 0;
  color: white;
  font-size: 24px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.dash-sidebar .close-btn:hover {
  color: #76b7eb;
}

.dash-sidebar .title {
  font-size: 26px;
  font-weight: normal;
  color: white;
  margin: 0 0 15px;
}

.dash-sidebar .form-items > div {
  margin-bottom: 6px;
}

.dash-sidebar .form-base {
  margin: 20px 0;
  text-align: right;
}

.dash-sidebar .form-base button {
  margin-left: 10px;
}

.dash-sidebar .compare-item .rule {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.dash-sidebar .compare-item .rule input {
  width: 30%;
}

.dash-sidebar .show-radio {
  margin: 6px 15px 6px 0;
}

.dash-sidebar label {
  font-size: 0.8rem;
  font-weight: lighter;
}

.dash-sidebar input,
.dash-sidebar textarea {
  width: 100%;
}

.dash-sidebar .preview {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  width: 100%;
  height: 200px;
  border: 3px dashed #333434;
  background-color: #454646;
  margin-bottom: 20px;
}

.dash-sidebar .preview .dash-alert-item {
  cursor: default;
}
